<section>
  <h3 id="about">Die Kanzlei</h3>

  <div class="about-wrap">
    <div class="icon-house">
      {% include icons/house.html %}
      <div class="overlay"><span class="tooltiptext">Miet- <br />und <br />Wohnrecht</span></div>
    </div>
    <div class="icon-rings">
      {% include icons/rings.html %}
      <div class="overlay"><span class="tooltiptext">Ehe- <br />und <br />Familienrecht</span></div>
    </div>
    <div class="icon-law">
      {% include icons/law.html %}
      <div class="overlay"><span class="tooltiptext">Strafrecht</span></div>
    </div>
    <div class="icon-buildings">
      {% include icons/buildings.html %}
      <div class="overlay"><span class="tooltiptext">Handels- <br />und <br />Unternehmens-<br />recht</span></div>
    </div>
    <div class="icon-trafficlight">
      {% include icons/trafficlight.html %}
      <div class="overlay"><span class="tooltiptext">Verkehrsrecht <br />Unfallschäden</span></div>
    </div>
  </div>

  <div class="blurb">
    {{ site.data.site-config.diekanzlei }}
  </div>
</section>
