<section>
  <h3 id="kanzlei">Die Kanzlei</h3>

  <div class="wrap">
    <div class="icon-house">{% include icons/house.html %}</div>
    <div class="icon-rings">{% include icons/rings.html %}</div>
    <div class="icon-law">{% include icons/law.html %}</div>
    <div class="icon-trafficlight">{% include icons/trafficlight.html %}</div>
    <div class="icon-buildings">{% include icons/buildings.html %}</div>
  </div>

  <div class="blurb">
    {{ site.data.site-config.diekanzlei }}
  </div>
</section>
