<section>
  <h3 id="kanzlei">Die Kanzlei</h3>

  <div class="wrap">
    <div class="icon-house">{% include icons/house.html %} <span class="tooltiptext">Miet- und Wohnrecht</span> </div>
    <div class="icon-rings">{% include icons/rings.html %} <span class="tooltiptext">Ehe- und Familienrecht</span> </div>
    <div class="icon-law">{% include icons/law.html %} <span class="tooltiptext">Strafrecht</span> </div>
    <div class="icon-trafficlight">{% include icons/trafficlight.html %} <span class="tooltiptext">Verkehrsrecht Unfallschäden</span> </div>
    <div class="icon-buildings">{% include icons/buildings.html %} <span class="tooltiptext">Handelsrecht Unternehmensrecht</span> </div>
  </div>

  <div class="blurb">
    {{ site.data.site-config.diekanzlei }}
  </div>
</section>
