<section id="contact-section">
  <h3 id="contact-hl">{{ site.data.contact.headline }}</h3>

  <div class="contact-wrap">
    <ul>
      <li>
        <a href="mailto:{{site.data.contact.email}}">
          <div>{% include icons/envelope.html %}</div>
          <p>{{site.data.contact.email}}</p>
        </a>
      </li>
      <li>
        <a target="_blank" href="{{site.data.contact.map}}">
          <div>{% include icons/location.html %}</div>
          <p>{{site.data.contact.address}}</p>
        </a>
      </li>
      <li>
        <a href="tel:{{site.data.contact.phone1}}">
          <div>{% include icons/phone.html %}</div>
          <p>{{site.data.contact.phone1}}</p>
        </a>
      </li>
<!--       <li>
        <a href="tel:{{site.data.contact.phone2}}">
          <div>{% include icons/phone.html %}</div>
          <p>{{site.data.contact.phone2}}</p>
        </a>
      </li>
      <li><div>{% include icons/fax.html %}</div> <p class="different">{{site.data.contact.fax}}</p></li> -->
      <li><div>{% include icons/clock.html %}</div> <p class="different">{{site.data.contact.office-hours}}</p></li>
      <li><div>{% include icons/calendar.html %}</div> <p class="different">{{site.data.contact.date-aggreement}}</p></li>
    </ul>
  </div>
</section>
