<section>

  <h3 id="contact">Kontakt</h3>

  <div class="contact-wrap">

    <div class="contact-links-wrap">

      <div class="contact-icon">
        <a href="mailto:{{site.data.site-config.email}}">{% include icons/envelope.html %}</a>
      </div>
      <p>
        <a href="mailto:{{site.data.site-config.email}}">{{site.data.site-config.email}}</a>
      </p>

    </div>

    <div class="contact-links-wrap">

      <div class="contact-icon">
        <a href="tel:{{site.data.site-config.phone}}"><span>{% include icons/phone.html %}</span></a>
      </div>
      <div class="contact-text">
        <a href="tel:{{site.data.site-config.phone}}"><span>{{site.data.site-config.phone}}</span></a>
      </div>

    </div>

    <div class="contact-links-wrap">

      <div class="contact-location">
        <a href="{{site.data.site-config.map}}"><span>{% include icons/map-marker.html %}</span></a>
        <a href="{{site.data.site-config.map}}"><span>{{site.data.site-config.address}}</span></a>
    </div>

    </div>

    <hr class="bar" />

    <div class="contact-map-wrap">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2659.0075616032677!2d16.384718316070373!3d48.206470279228945!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x476d077313e34d13%3A0x4f27537b29d3c433!2sMr.+Dr.+Gerald+Albrecht!5e0!3m2!1sde!2sat!4v1483894564887"
        frameborder="0"
        style="border:0">
      </iframe>
    </div>


  </div>

</section>
