<header>
  <div class="header-wrap">

    <div class="logo">{% include icons/{{site.data.site-config.logo}} %}</div>

    <nav class="site-nav">
      {% for item in site.data.site-config.menu %}
        <a href={{item.url}}>{{item.name}}</a>
      {% endfor %}
    </nav>

    <div class="headline">
      <h1>
        <span class=h1frame>
          <span>{{ site.data.site-config.title}}</span>
          <!-- <span class="rd-line">{{ site.data.site-config.title-l1}}</span>
          <span class="rd-line">{{ site.data.site-config.title-l2}}</span> -->
        </span>
      </h1>
      <p class="kicker">{{ site.data.site-config.description }}</p>
    </div>

  </div>
</header>
