<section id="press-section">
  <h3 id="press-hl">{{ site.data.press.headline }}</h3>

  <div class="press-wrap">

    {% for item in site.data.press.pr %}
      <h4>{{item.headline}}</h4>
      <p>{{item.subline}}</p>
    {% endfor %}

    <div class="pr-links-wrap">
      <div class="press-icon-envelope">
        <a href="mailto:{{site.data.press.pr-email}}">
          <div>{% include icons/envelope.html %}</div>
          <p>{{site.data.press.pr-email}}</p>
        </a>
      </div>
    </div>

    <hr class="bar" />

    {% for item in site.data.press.pressreport %}
      <h4>{{item.headline}}</h4>
      <p>{{item.subline}}</p>
    {% endfor %}

    <div class="press-texts">
      <ul>
        {% for item in site.data.press.reports %}
          <li>{{item.text}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
