<section id="press-section">
  <h3 id="press-hl">Presse</h3>

  <div class="press-wrap">
    <h4>PR-Kontakt</h4>
    <p>Für Presseanfragen wenden Sie sich bitte an Frau Mag. Ruth Albrecht.</p>

    <div class="pr-links-wrap">
      <div class="press-icon-envelope">
        <a href="mailto:{{site.data.site-config.pr-email}}" title="">{% include icons/envelope.html %}</a>
      </div>
      <p>
        <a href="mailto:{{site.data.site-config.pr-email}}" title="">{{site.data.site-config.pr-email}}</a>
      </p>
    </div>

    <hr class="bar" />

    <h4>Presseberichte</h4>
    <p>Nachfolgend finden Sie einen Auszug der medialen Berichterstattung.</p>

    <div class="press-texts">
      <ul>
        {% for item in site.data.site-config.press %}
          <li>{{item.text}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</section>
