.wrap
  max-width: 780px
  +display(flex)
  margin: 0 auto
  +align-items(center)
  +justify-content(space-around)

  [class^="icon-"]
    +size(30px)
    // background: #EAB79A
    // border-radius: 10%
    svg
      // +size(50px)
      // viewBox: 10,0,45,50
      fill: $gray

    .tooltiptext
      display: inline-block
      visibility: hidden
      background-color: $gray
      color: lighten($gray, 50%)
      width: 160px
      padding: 5px 0
      text-align: center
      border-radius: 5px
    &:hover
      .tooltiptext
        visibility: visible

.blurb
  max-width: 620px
  padding: 0 15px
  margin: 50px auto 50px
  font-size: 24px
  text-align: center
  font-weight: 300
