#about-section
  padding: 50px 0px
  background-color: $section-colorlight

#about-hl
  @extend %upper-bold
  text-align: center
  color: $site-color
  padding-bottom: 30px
  margin: 0

.about-wrap
  max-width: 780px
  +display(flex)
  margin: 0 auto 0 auto
  +justify-content(space-around)
  // +clearfix

  [class^="icon-"]
    display: inline-block
    +size(60px)
    position: relative
    // overflow: hidden
    +perspective(100)
    @media screen and (max-width: 548px)
      +size(50px)

    svg
      +size(100%)
      fill: $site-color

    .overlay
      +position(absolute, 0% 0px null 0px)
      height: 100%
      text-align: center
      background: fade-out($site-color, 0.3)
      border-radius: 5px
      +display(flex)
      +align-items(center)
      +justify-content(space-around)
      // +transition(0.3s)
      +transition(all 0.9s ease-out)
      +transform(rotate3d(1,1,1,360deg))
      // +transform(rotateX(180deg))
      // +transform-origin(center bottom)
      +transform-origin(center center)
      opacity: 0

      @media screen and (max-width: 548px)
        display: none

    .tooltiptext
      font-size: 9px
      font-weight: 100
      @extend %upper-bold
      color: lighten($site-color, 70%)

    &:hover .overlay
      // +position(absolute, 0px 0px 0px 0px)
      top: 0%
      +transform(rotate3d(1,1,10,0deg))
      // +transform(rotateX(0deg))
      opacity: 1

.blurb
  max-width: 780px
  padding: 0 15px
  margin: 50px auto 0px
  font-size: 20px
  text-align: center
  font-weight: 300
  text-align: justify
  p
    margin: 0
