h3
  @extend %upper-bold
  color: $gray
  text-align: center
  padding: 100px 0 30px

p
  max-width: 620px
  padding: 0 15px
  margin: 50px auto
  font-size: 24px
  text-align: center
  font-weight: 300
