#contact
  @extend %upper-bold
  text-align: center
  color: $site-color
  padding: 100px 0 30px

.contact-wrap
  max-width: 780px
  margin: 0 auto
  font-size: 20px
  +justify-content(center)

  .contact-links-wrap
    +display(flex)

    .contact-icon
      display: block
      margin-right: 20px
      +size(20px)
      +transition

      &:hover
        +transform(scale(1.2))

      svg
        display: block
        path
          fill: $site-color

    .contact-text
      +transition
      &:hover
        +transform(scale(1.1))

    .contact-location
      +transition
      &:hover
        +transform(scale(1.1))

      svg
        +size(23px)
        path
          fill: $site-color
          +transition


  .bar
    width: 150px
    height: 0px
    border-top: 3px solid $site-color
    margin: 20px auto 50px

  .contact-map-wrap
    +display(flex)
    +justify-content(space-around)
    iframe
      width: 100%
      height: 250px
    margin-bottom: 50px
