.header-wrap
  @extend %bg-img
  background-image: url(/assets/img/#{$bg-img})
  background-position: center center
  // height: 610px
  padding-bottom: 10px

  .logo
    +size(40px)
    float: left
    margin: 20px 0 0 30px
    @media (max-width: 640px)
      float: none
      margin: auto
      padding-top: 20px

    svg
      +size(100%)
      fill: $gray

  .site-nav
    float: left
    margin: 30px 30px 0 0
    @media (max-width: 640px)
      float: none
      margin: auto
      padding-top: 10px
      text-align: center
    a
      display: inline-block
      margin-left: 20px
      font-size: 18px
      @extend %upper-bold


  .headline
    h1
      text-align: center
      font-size: 72px
      @extend %upper-bold
      color: $site-color
      text-shadow: 2px 2px black
      letter-spacing: 0.05em
      margin-bottom: 20px
      clear: both
      padding-top: 210px
      @media screen and (max-width: 1060px)
        font-size: 10vw

      .h1frame
        display: inline-block
        padding: 0.2em 0.5em
        border: $site-color solid 10px
        box-shadow: 2px 2px 2px black

      .rd-line
        display: inline-block

    .kicker
      text-align: center
      font-size: 20px
      @extend %upper-bold
      letter-spacing: 0.05em
      color: $site-color
      @media screen and (max-width: 640px)
        font-size: 3vw
