#legal-section
  margin: 5% auto
  padding: 50px 0px
  background-color: darken($section-colorlight,3%)
  box-shadow: 1px 5px 20px darken($section-color, 20%)
  max-width: 780px
  color: $site-color

  #legal-hl
    @extend %upper-bold
    text-align: center
    padding-bottom: 30px
    margin: 0

  .legal-wrap
    margin: 0 auto
    font-size: 20px
    text-align: center
    p
      a
        color: $site-color
        &:hover
          +transition(all 0.5s)
          color: $orange

    .legal-nav
      position: absolute
      display: flex
      +justify-content(center)
      div
        position: relative
        left: 10px
        +size(30px)
        border: 2px solid $site-color
        border-radius: 50px
        box-shadow: 4px 4px 4px darken($section-color, 20%)
        &:hover
          +transition(all 0.5s)
          background-color: darken($section-color, 5%)
          box-shadow: 7px 7px 9px darken($section-color, 20%)
          +size(32px)

        &:active
          +transition(all 0.5s)
          box-shadow: 1px 1px 4px darken($section-color, 20%)
          +size(29px)

        svg
          position: absolute
          left: 0
          top: 0
          width: 100%
          height: 100%
          // display: block
          fill: $site-color
