#press-section
  padding: 50px 0px
  background-color: $section-colorlight

#press-hl
  @extend %upper-bold
  text-align: center
  color: $site-color
  padding-bottom: 30px
  margin: 0

.press-wrap
  max-width: 780px
  margin: 0 auto 0 auto

  h4
    margin-top: 0px
    @extend %upper-bold
    text-align: center
    color: $site-color

  p
    font-size: 20px
    text-align: center

  .bar
    width: 150px
    height: 0px
    border-top: 3px solid $site-color
    margin: 20px auto 40px

  .pr-links-wrap
    +display(flex)
    +justify-content(center)

    .press-icon-envelope
      +justify-content(center)
      display: block
      margin-right: 20px
      +size(20px)
      +transition

      &:hover
        +transform(scale(1.2))

      svg
        display: block
        path
          fill: $site-color

    p
      +transition
      &:hover
        +transform(scale(1.1))


  .press-texts
    ul
      text-align: center
      list-style: none
      font-size: 20px
      margin: 0
      li
        +transition
        &:hover
          +transform(scale(1.1))
